.content {
	display: flex;
	flex-direction: column;
	border: 2px red dashed;
	width: 20vw;
}

.head {
	display: flex;
	border: 2px green dotted;
}


.inner {
	border: 2px pink dashed;
}

.btn {
	min-height: 20px;
	min-width: 20px;
}

.del {
	background-color: red;
}

.container-fluid {
	border: 10px cyan dotted;
}

.not-done {
	background-color: gray;
}

.done {
	background: green;
}
