.content {
	width: 800px;
	display: flex;
	flex-direction: column;
	overflow-x: auto;
}

.head {
	display: flex;
	border: 2px green dotted;
} .head h2 {
	margin: 0;
	justify-content: center;
} .head span {

}


.btn {
	min-height: 20px;
	min-width: 20px;
	background-color: red;
}
.TodoItem {
	user-select: none;
	cursor: pointer;
	position: relative;
	white-space: nowrap;
	text-overflow: hidden;
} .not-done {
	background-color: gray;
} .done {
	background: green;
}

.close {
	position: absolute;
	width: 30px;
	right: 0;
	top: 0;
	background: rgba(128, 128, 128, 0.8);
	text-align: center;
}
