.content {
	display: flex;
	flex-direction: column;
	padding: 5px;
	padding-right: 5px;
}

.head {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: rgba(32, 32, 128, 0.5);
} .head-left {
	text-align: center;
	font-size: 24px;
	flex: 1;
	margin: 5px 0px;
	display: flex;
} .head-left * {
	flex: 1;
	align-self: center;
}.head-right {
	flex: 2;
	display: flex;
	flex-wrap: wrap;
} .head-input {
	flex: 2;
	font-size: 18px;
	padding-left: 10px;
	border: 0;
	border-radius: 5px;
	margin: 5px 5px;
} .save {
	padding: 10px;
	margin: 5px 5px;
  background: #DDD;
	flex: 1;
  color: #555;
	margin-left: 5px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
	border-radius: 5px;
} .save:hover {
  background: #EEE;
}

.todoitem {
	user-select: none;
	cursor: pointer;
	position: relative;
	white-space: nowrap;
	text-overflow: hidden;
	overflow: hidden;
	margin-bottom: 1px;
	border: 3px rgba(128, 128, 128, 0.3) solid;
	border-radius: 5px;
} .not-done {
	padding: 2px 20px;
	background-color: rgba(16, 16, 16, 0.3);
} .done {
	text-decoration: line-through;
	padding: 2px 20px;
	background: rgba(16, 64, 16, 0.3);
}.todos div:nth-child(even) .done {
background: rgba(16, 64, 16, 0.4);
} .todos div:nth-child(even) .not-done {
background-color: rgba(16, 16, 16, 0.35);
}

.close {
	position: absolute;
	width: 30px;
	height: 30px;
	right: 0;
	top: 0;
	background: rgba(256, 128, 128, 0.4);
	text-align: center;
}
