/* Header css start */

.header {
  position: relative;
  width: 100%;
  height: 14vh;
  background-color: #f6f6f6;
}

#logoIMG{
  float:left;
  height: 60px;
  margin-top: 15px;
  margin-left: 15px;
}

.navigation{
  padding-right: 100px;
}

.IMG{
  margin-top: 10px;
  height: 60px;
}

.button {
    background-color: Transparent;
    transition: all .2s ease-in-out;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    float:right;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: white;
    box-sizing: none;
    padding: 2px 6px 3px;
    border-style: none;
    border-image: none;
    text-rendering: none;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    margin: 0em;
    font: 12px system-ui;
    font-weight: bold;
    outline: 0;
}

.button:hover{
  border-color: black;
  color:grey;
  transform: scale(1.2);
}

/* Header css stopp */

/* sidebar css start */

.sidebar{
	float: right;
	width: 25vw;
	background-color: #213F4E;
	height: 86vh;
}

.sidebar h2{
	color: white;
	text-align: left;
	padding: 20px;
}

.btn {
	padding: 10px;
	margin-left: 20px;
  background: #29EE65;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
	border-radius: 5px;
	height: 100%;
}

.btn:hover {
  background: #2D7C1A;
}
