
form {
  width: 50%;
  margin: 2vh auto 2vh;
  padding: 10px;
  border-radius: 10px;
  background-color: #A9A9A9;
  font-family: 'Nunito', sans-serif;
}

form textarea {
  width: 100%;
  overflow: auto;
  border-radius: 5px;
  outline: 0 none;
	resize: none;
}

.note {
  display: inline-block;
  background-color: transparent;
  padding: 5px;
  font-family: 'Nunito', sans-serif;
}
.note .inner {
  background-color: #FFF6A7;
  padding: 5px;
  border-radius: 5px;
  height: 230px;
  color: #8F754F;
  overflow-x: hidden;
  overflow-y: auto;
}
.note .title {
  background-color: #FFF275;
  padding: 1px;
  height: 45px;
}
.note .title h2 {
  display: inline-block;
}
